:root
{
	--chatBoxWidth: 300px;
	--chatBoxSquircleRadius: 25px;
	--chatBtnsSize: 36px;
	--chatBubbleWidth: 240px;
}

#chatBtnsWrapper {
	height: var(--chatBtnsSize);
	margin: 10px 0;
}

#chatBtnsWrapper .squircleBtn
{
	background: linear-gradient(to bottom left,#8affde, #5cd7ff);
	float: right;
	width: var(--chatBtnsSize);
	height: var(--chatBtnsSize);
	margin: 0 6px;
	-webkit-mask-image: paint(squircle);
	--squircle-radius: var(--chatBoxSquircleRadius);
	position: relative;
	cursor: pointer;
}

#chatBtnsWrapper .squircleBtn img
{
	width: 23px;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* TODO: add chatBoxWrapper */
#chatWrapper
{
	position: fixed;
	top: 60px;
	right: 15px;
	width: var(--chatBoxWidth);
	z-index: 9999;
}

#chatWrapper #chatBoxBlur {
	position: absolute;
	width: var(--chatBoxWidth);
	backdrop-filter: blur(8px);
	-webkit-mask-image: paint(squircle);
	--squircle-radius: var(--chatBoxSquircleRadius);
}

#chatWrapper #chatBoxBorder {
	position: absolute;
	width: var(--chatBoxWidth);
	background: linear-gradient(to bottom left,#8affde, #5cd7ff);
	-webkit-mask-image: paint(squircle);
    --squircle-outline: 2px;
	--squircle-radius: var(--chatBoxSquircleRadius);
}

#chatWrapper #chatBoxContent {
	position: absolute;
	width: var(--chatBoxWidth);
	overflow: scroll;
	max-height: 600px;
	padding: 10px 14px;
	height: max-content;
	--squircle-radius: var(--chatBoxSquircleRadius);
	-webkit-mask-image: paint(squircle);
}

#chatWrapper #chatBoxContent div {
	margin: 5px 0;
	padding: 5px 10px;
}

#chatWrapper #chatBoxContent .chatBubble {
	--squircle-radius: 15px;
	-webkit-mask-image: paint(squircle);
	width: var(--chatBubbleWidth);
	white-space: normal;
	z-index: 999;
	font-size: 14px;
}

#chatWrapper #chatBoxContent .userChat {
	background-color: #00402E;
	color: #00FFB9;
	float: right;
}

#chatWrapper #chatBoxContent .aiChat {
	background-color: #0E3040;
	color: #38BDFF;
	float: left;
}

#selected {
	background: linear-gradient(to right, rgb(0 192 255 / 50%),rgb(0 255 183 / 50%));
}