*, *:before, *:after {
	box-sizing: border-box;
	text-align: center;
}
.squircle {
	position: relative;
	width: 60vh;
	height: 68.5714285714vh;
	padding: 10vh;
	margin: 10vh auto;
	background: #d19de3;
	border-radius: 17.1428571429vh/8.5714285714vh;
}
.squircle:after {
	content: "";
	display: block;
	position: absolute;
	top: 4.2857142857vh;
	left: -4.2857142857vh;
	width: 68.5714285714vh;
	height: 60vh;
	z-index: -1;
	background: #d19de3;
	border-radius: 8.5714285714vh/17.1428571429vh;
}



































#chatBoxWrapper {
    position: fixed;
    top: 75px;
    right: 20px;
    width: 250px;
    height: max-content;
    max-height: 600px;
    /* background-color: white; */
    /* border: 2px solid #009999; */
    /* border-radius: 4px; */
    z-index: 998;
    /* overflow: scroll; */
    padding: 5px 10px;
	backdrop-filter: blur(8px);
	border-radius: 5px;
	/* border-image: linear-gradient(to bottom left, #03ffb9, #37bbfd) 45%; */
	/* border-width: 2px; */
}

#chatBoxWrapper::after
{
	content: "";
	position: absolute;
    inset: 0;
    border-radius: 5px;
    padding: 2px;
    /* background: linear-gradient(to bottom left, #03ffb9, #37bbfd); */
    background: linear-gradient(to bottom left,#8affde, #5cd7ff);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
}

#chatBox {
	overflow: scroll;
	height: max-content;
	max-height: 600px;
	/* padding: 0 7px; */
}

#chatBox::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#chatBox > * {
	margin: 5px 0;
	padding: 5px 10px;
}

:root {
	/* --main-bg-color: brown; */
	--squircle-size: 30px;
	--squircle-radius1: calc(var(--squircle-size) / 3.5);
	--squircle-radius2: calc(var(--squircle-size) / 7);
}

#micBtn {
	width: 30px;
	height: 30px;
	/* visibility: hidden; */
	/* position: fixed;
	top: 42px;
	right: 55px; */
	z-index: 10000;
	/* background-color: white; */
	/* border-radius: 8px; */
	/* margin: 0; */
	/* padding: 3px; */
}
/* #micBtn::before {
	box-sizing: border-box;
}

#micBtn::after {
	content: "";
	display: block;
	position: absolute;
	top: 42px;
	right: 55px;
	width: calc(var(--squircle-size) + var(--squircle-radius2));
	height: var(--squircle-size);
	z-index: 9999;
	background-color: white;
	border-radius: calc(var(--squircle-radius2)/var(--squircle-radius1));
	box-sizing: border-box;
} */


#viewBtn {
	width: 30px;
	height: 30px;
	/* visibility: hidden; */
	position: fixed;
	top: 42px;
	right: 20px;
	z-index: 10000;
	/* background-color: white;
	border-radius: 8px; */
	margin: 0;
	padding: 3px;
	cursor: pointer;
}

.userChat {
	float: right;
	width: 200px;
	background-color: #00402E;
	border-radius: 10px;
	border-bottom-right-radius: 0;
	color: #00FFB9;
	white-space: normal;
	z-index: 999;
	font-size: 14px;
}

.aiChat {
	float: left;
	width: 200px;
	background-color: #0E3040;
	border-radius: 10px;
	/* border-top-left-radius: 0; */
	border-bottom-left-radius: 0;
	color: #38BDFF;
	white-space: normal;
	z-index: 999;
	font-size: 14px;
}

#selected {
	/* background-color: #009999; */
	/* background-color: #F2D544; */
	/* background: linear-gradient(to right, #37bbfd,#03ffb9) */
	background: linear-gradient(to right, #5cd7ff,#8affde);
	/* border-radius: 4px; */
	/* display: inline-block; */
}